---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div>
        <slot />
        <aside>
            Categories:
            <ul>
                <li>Technology</li>
                <li>Lifestyle</li>
                <li>Travel</li>
                <li>Food</li>
            </ul>
        </aside>
    </div>
</Layout>