---
import { getCollection } from "astro:content"


const blogPosts = await getCollection('blog')
console.log(blogPosts);
---

<h1>Blog Posts</h1>
<ul>
    {blogPosts.map(post => (
        <li>
            <a href={`/blog/${post.slug}`}>{post.data.title}</a> - <em>{post.data.date}</em>
        </li>
    ))}
</ul>
